<h2>Esqueceu sua senha?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
<div class="row">
      <div class="col-lg-6">
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
    	<%= f.email_field :email, autofocus: true, :class => 'form-control' %>
    </div>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit "Redefinir Senha", class: 'btn btn-primary form-control' %>
 <center>
	<%= render "devise/shared/links" %>
</center>

  </div>
  </div>
  </div>

<% end %>
