<%= form_for @usuario, :html => { :class => "form-horizontal usuario" } do |f| %>

    <% if @usuario.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @usuario.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
<div class="row">
<div class="col-lg-6">
  <div class="control-group">
    <%= f.label :nome, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nome, :class => 'form-control' %>
    </div>
    <%= error_span(@usuario[:nome]) %>
  </div>
  <div class="control-group">
    <%= f.label :cpf, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cpf, :class => 'form-control' %>
    </div>
    <%= error_span(@usuario[:cpf]) %>
  </div>
  <div class="control-group">
    <%= f.label :cep, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cep, :class => 'form-control' %>
    </div>
    <%= error_span(@usuario[:cep]) %>
  </div>
  <div class="control-group">
    <%= f.label :endereco, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :endereco, :class => 'form-control' %>
    </div>
    <%= error_span(@usuario[:endereco]) %>
  </div>
  <div class="control-group">
    <%= f.label :numero, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :numero, :class => 'form-control' %>
    </div>
    <%= error_span(@usuario[:numero]) %>
  </div>
  <div class="control-group">
    <%= f.label :bairro, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :bairro, :class => 'form-control' %>
    </div>
    <%= error_span(@usuario[:bairro]) %>
  </div>
  <div class="control-group">
    <%= f.label :cidade, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cidade, :class => 'form-control' %>
    </div>
    <%= error_span(@usuario[:cidade]) %>
  </div>
  <div class="control-group">
    <%= f.label :uf, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :uf, :class => 'form-control' %>
    </div>
    <%= error_span(@usuario[:uf]) %>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
    <%= error_span(@usuario[:email]) %>
  </div>
  <div class="control-group">
    <%= f.label :senha, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :senha, :class => 'form-control' %>
    </div>
    <%= error_span(@usuario[:senha]) %>
  </div>
  <br>
  <%= f.submit 'Salvar', :class => 'btn btn-primary form-control' %>
  </div>
  </div>
<% end %>