<ol class="breadcrumb">
  <span>Olá, 
    <b><%= link_to current_usuario.nome%></b>. | 
    Endereço de IP: <b><%= current_usuario.current_sign_in_ip%></b>. | 
    Último login ás: <b><%= current_usuario.current_sign_in_at%></b>. | 
    Qtde. login: <b><%= current_usuario.sign_in_count%></b>.
  </span>
</ol>
<div class="page-header", style="margin: -20px 0 0 0;">
  <h1>Uploads</h1>
</div>

<p id="noticeUp"><%= notice %></p>


<div class="row">
  <div class="col-xs-12">
    <%= link_to 'Novo', new_upload_path, class: 'btn btn-primary' %>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Imagem</th>
      <th>Nome</th>
      <th>Descricao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @uploads.each do |upload| %>
      <tr>
      <td><%= image_tag(upload.image.url(:thumb)) %></td>
        <td><%= upload.nome %></td>
        <td><%= upload.descricao %></td>
        <td><%= link_to 'Ver', upload , class: 'btn btn-default'%></td>
        <td><%= link_to 'Editar', edit_upload_path(upload) , class: 'btn btn-default'%></td>
        <td><%= link_to 'Excluir', upload, method: :delete, data: { confirm: 'Tem certeza que deseja excluir??'} , class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
    <center>
      <% @uploads.each do |upload|%>
        <% end %>
      <%= paginate @uploads  %>
    </center>
  </tbody>
</table>




